html {
  font-family: sans-serif;
}

.operation {
  margin-bottom: 10px;
}

.operation.get {
  --bg: #e7f0f7;
  --fg: #0f6ab4;
}

.operation.put {
  --bg: #f9f2e9;
  --fg: #c5862b;
}

.operation.post {
  --bg: #e7f6ec;
  --fg: #10a54a;
}

.operation.delete {
  --bg: #f5e8e8;
  --fg: #a41e22;
}

.operation .header {
  display: flex;

  background-color: var(--bg);
  color: var(--fg);

  cursor: pointer;
}

.operation .method {
  padding: 7px 7px 4px 7px;
  width: 70;

  text-align: center;
  color: white;
  background-color: var(--fg);
}

.operation .path {
  flex: 1;
  padding: 7px 7px 4px 7px;
}

.operation .description {
  padding: 7px 7px 4px 7px;
}

.operation code, .operation table {
  /*width: 500px;*/
  width: 100%;

  background: #F0F0F0;

  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: var(--fg);
}

.operation code {
  display: inline-block;
  box-sizing: border-box;
  white-space: pre-wrap;
  padding: 10px;
}

.operation table {
  table-layout: fixed;
  border-collapse: collapse;
}

.operation table th, .operation table td {
  padding: 10px;
  /*border-bottom: 1px solid #ddd;*/
}

.operation table th {
  text-align: start;
  font-weight: normal;
  color: var(--fg);
}

.operation .body h3, .operation .body h4 {
  color: var(--fg);
}
