<html>
  <head>
    <link rel="stylesheet" href="css/style.css">

    <script id="categoriesTemplate" type="text/x-jsrender">
      {{props tmpl="#categoryTemplate"/}}
    </script>

    <script id="categoryTemplate" type="text/x-jsrender">
  		<div class="category">
  			<h2>{{>key}}</h2>
        <div class="operations">
          {{props prop}}
            <div class="operation {{firstMatch:key}}">
              <div class="header" onclick="collapseExpand(this)">
                <span class="method">{{firstMatch:key}}</span>
                <span class="path">{{secondMatch:key}}</span>
                <span class="description">{{>prop.description}}</span>
              </div>

              <div class="body" style="display:none">
                <h3>Request</h3>

                <h4>Headers</h4>
                <!--{{include prop.request.headers tmpl="#paramsTemplate"/}}-->

                {{props prop.request.paramTypes tmpl="#tableTemplate"/}}

                <h3>Response</h3>

                <h4>Headers</h4>
                <!--{{include prop.response.headers tmpl="#paramsTemplate"/}}-->

                {{props prop.response.statusCodes tmpl="#tableTemplate"/}}

              </div>
            </div>
          {{/props}}
        </div>
  		</div>
  	</script>

    <script id="tableTemplate" type="text/x-jsrender">
      {{if prop}}
        <h4>{{>key}}</h4>
        <h5>Description</h5>
        <table>
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Description</th>
              <th>Datatype</th>
            </tr>
          </thead>
          <tbody>
            {{for prop.params}}
              <tr>
                <td>{{:param}}</td>
                <td>{{:description}}</td>
                <td>{{:datatype}}</td>
              </tr>
            {{/for}}
          </tbody>
        </table>
        <h5>Example</h5>
        <code>{{>prop.example}}</code>
      {{/if}}
    </script>

  </head>
  <body>
    <div id="categories"></div>

    <script src="js/api.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jsrender.min.js"></script>
    <script src="js/js-yaml.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
